<a href="https://colab.research.google.com/github/hwawoll/pychon/blob/main/py_2%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2. print() 서식 출력력

In [3]:
print( "%d" % 123)  
print( "%5d" % 123)  
print( "05%d" % 123) 
   
print( "%f" % 123.45)  
print( "%7.1f" % 123.45)  
print("%7.3f" % 123.45)  
  
print("%s" % "대한민국")  
print("%6s" % "대한민국")

123
  123
05123
123.450000
  123.5
123.450
대한민국
  대한민국

#### Format 함수 : 순서 지정 가능

In [4]:
print("{0:d} {1:5d} {2:05d}".format(123,456,789))

123   456 00789

In [5]:
print("{2:d} {1:5d} {0:05d}".format(123,456,789))

789   456 00123

#### 서식 출력

In [7]:
print("\n줄바꿈\n연습입니다.")

줄바꿈
연습입니다.

In [8]:
print("\t탭키\t연습")

	탭키	연습

In [13]:
print("글자가 \"강조되는\" 효과1")  
print("글자가 \'강조되는\' 효과1")  
print("역슬레시 3개 출력 \\\\\\")  
print(r"\n \t \\ \' @를 그대로 출력") #그대로 출력됨

글자가 "강조되는" 효과1
글자가 '강조되는' 효과1
역슬레시 3개 출력 \\\
\n \t \\ \' @를 그대로 출력

#### 관계 연산자

In [14]:
a,b = 10,20  
print(a==b, a!=b, a>b, a<b, a>=b, a<=b)

False True False True False True

#### 논리 연산자

In [15]:
a = 99  
print((a>100) and (a<200))  
print((a>100) or (a<200))  
print(not(a==100))

False
True
True

In [16]:
if(123):  
  print("참이면 보입니다.")  
if(0):  
  print("거짓이면 안 보입니다.")

참이면 보입니다.

### 퀴즈2 숫자 입력을 받아 동전으로 바꿔주는 프로그램 ( 500원, 100원, 50원, 10원) 나머지는 거스름 돈으로 출력

In [21]:
# 변수  
bill, c500, c100, c50, c10 = 0,0,0,0,0  
bill = int(input("바꿀돈은?"))  
  
c500 = bill // 500 # 몫  
bill %= 500 # bill = bill % 500  
c100 = bill // 100  
bill %= 100  
c50 = bill // 50    
bill %= 50  
c10 = bill // 10  
bill %= 10  
  
print("500원짜리 : %d개" % c500)  
print("100원짜리 : %d개" % c100)  
print("10원짜리 : %d개" % c100)  
print("잔돈 %d원" % bill)

바꿀돈은?3546
500원짜리 : 7개
100원짜리 : 0개
10원짜리 : 0개
잔돈 6원

###조건문

In [33]:
a = 200  
if(a<100):
   print("100보다 작음")  
else :
   print("거짓이면 이문장은 보이지 않음")  
print("프로그램 끝")

거짓이면 이문장은 보이지 않음
프로그램 끝

In [38]:
# 홀짝 구분  
a = int(input("정수를 입력하세요 : "))  
if(a % 2 ==0):  
  print("짝수")  
else :  
  print("홀수")

정수를 입력하세요 : 362
짝수

In [43]:
a = 73
if(a > 50):  
  if(a < 100):
    print("50<a<100")  
  else:  
    print("a>100")  
else:  
  print("a<50")

50<a<100

In [44]:
fruit = ['사과','배','감','포도']  
fruit.append('딸기')  #if '딸기' not in fruit  
if '딸기' in fruit :  
  print("딸기가 있습니다.")  
print(fruit)

딸기가 있습니다.
['사과', '배', '감', '포도', '딸기']

In [48]:
import random  
  
number = []  
for num in range(0,6) :  
  number.append(random.randrange(1,46))  
print("생성된 리스트", number)

생성된 리스트 [30, 38, 42, 25, 20, 35]

### 반복문

In [56]:
for i in range(0,3,1): # 시작값,끝값+1,증가값  
  print("%d안녕하세요~" %i) # 반복 내용  
  #print(i)  
print("반갑습니다^^*")

0안녕하세요~
1안녕하세요~
2안녕하세요~
반갑습니다^^*

In [63]:
for i in range(1,9,1):
  print("%d " % i, end="")  
print("\n")  
for i in range(1,9,1):  
  print("%d" % i, end=" ")

1 2 3 4 5 6 7 8

1 2 3 4 5 6 7 8

In [70]:
sum=0  
for i in range(1,11,1):  
  sum = sum + i  
print("1~10까지 합계 : %d" % sum)

1~10까지 합계 : 55

###Quiz3 : 숫자 입력을 받아 1부터 입력된 숫자까지의 합을 출력하시오.

In [81]:
sum,num= 0,0
num = int(input("숫자입력 : "))  
for i in range(1,num+1,1):  
  sum = sum + i  
print("1부터 n까지 합계 : %d" % sum)

숫자입력 : 1000
1부터 n까지 합계 : 500500

###중첩 for문

In [90]:
i,j,k = 0,0,0
k = int(input("구구단 단수 입력 : "))  
for i in range(1,10,1):  
  print("%d * %d = %2d" % (k,i,k*i))  
print("")

구구단 단수 입력 : 2
2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

####quiz 구구단을 2,3,4,5 출력 후 줄바꿔서 출력하시오.

In [128]:
i,j = 0,0  
for i in range(1,10,1):  
  for j in range(2,6,1):  
    print("%d * %d = %2d" % (j,i,i*j), end = "\t")  
  print("")

2 * 1 =  2	3 * 1 =  3	4 * 1 =  4	5 * 1 =  5
2 * 2 =  4	3 * 2 =  6	4 * 2 =  8	5 * 2 = 10
2 * 3 =  6	3 * 3 =  9	4 * 3 = 12	5 * 3 = 15
2 * 4 =  8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45