<a href="https://colab.research.google.com/github/hwawoll/pychon/blob/main/py_3%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CH3. 자료형  
  
## 1. 인덱스와 슬라이싱

In [11]:
L = [0,1,2,3,4,5,6,7,8,9]  
print(L[1])

1

In [24]:
L = [0,1,2,3,4,5,6,7,8,9]  
print(L[-1])

9

In [21]:
L = [0,1,2,3,4,5,6,7,8,9]  
print(L[0:9:2])

[0, 2, 4, 6, 8]

In [25]:
L = [0,1,2,3,4,5,6,7,8,9]  
print(len(L))  
print(L[len(L)-1])

10
9

In [29]:
L = [0,1,2,3,4,5,6,7,8,9]  
L[0] = 99  
L[9] = '가나다'  
L[1] = [1,2,3]  
print(L)  
print(L[9])

[99, 1, 2, 3, 4, 5, 6, 7, 8, '가나다']
가나다

In [31]:
a = [1,2,3]  
b = [4,5,6]  
c = a+b  
print(a+b)  
print(c)  
print(a*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [34]:
L = [1,2,3,4,5]  
print(L)  
L.append(6) #리스트 뒤에 추가  
print(L)  
L.remove(3) #해당되는 요소값을 삭제  
print(L)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 4, 5, 6]

In [35]:
k = ['a','b','c','d']  
k.remove('d')  
print(k)

['a', 'b', 'c']

In [40]:
k = "God is love!"  
print(k[:3])  
print(k[6:])  
print(k[-8:-2])

God
 love!
is lov

In [44]:
k = " God is love! "  
print(k.upper())  
print(k.lower())  
print(k.strip())

 GOD IS LOVE!
 god is love!
God is love!

In [47]:
a = " God, is, love! "  
print(a.split(","))

[' God', ' is', ' love! ']

In [48]:
a = ["apple","banana","cherry"]  
a.append("orange") # 맨뒤에 추가  
print(a)

['apple', 'banana', 'cherry', 'orange']

In [50]:
a = ["apple","banana","cherry"]  
a.insert(1,"orange") # 지정한 곳에 삽입  
print(a)

['apple', 'orange', 'banana', 'cherry']

In [51]:
a = ["apple","banana","cherry"]  
a.remove("banana")  
print(a)

['apple', 'cherry']

In [56]:
a = ["apple","banana","cherry"]  
a.pop() # 지정을 하지 않으면 맨 뒤 삭제  
print(a)  
a.pop(1) # 지정된 값 삭제  
print(a)

['apple', 'banana']
['apple']

In [59]:
a = ["apple","banana","cherry"]  
del a[0]  
print(a)  
a.clear() # del a  
print(a)

['banana', 'cherry']
[]

In [61]:
fruit = ["apple","banana","cherry"]  
for x in fruit:  
  print(x)

apple
banana
cherry

In [62]:
fruit = ["apple","banana","cherry"]  
for i in range(len(fruit)):  
  print(fruit)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

#### SORT

In [63]:
a = [5,3,6,8,1,9,0]  
a.sort()  
print(a)

[0, 1, 3, 5, 6, 8, 9]

In [65]:
a = [5,3,6,8,1,9,0,2,4,7]  
a.sort(reverse = True)  
print(a)  
a.sort()  
print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
fruit = ["banana","apple","Kiwi","cherry","Orange"]  
fruit.sort()  
print(fruit)  
fruit.sort(key = str.lower) # 대소문자 구분 없이 정렬  
print(fruit)  
fruit.reverse() # 항목의 순서를 반대로 바꿈  
print(fruit)

['Kiwi', 'Orange', 'apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'Kiwi', 'Orange']
['Orange', 'Kiwi', 'cherry', 'banana', 'apple']

In [70]:
# list 복사  
fruit = ["banana","apple","Kiwi","cherry","Orange"]  
myList = fruit.copy()  
print(myList)  
cpList = list(fruit)  
print(cpList)

['banana', 'apple', 'Kiwi', 'cherry', 'Orange']
['banana', 'apple', 'Kiwi', 'cherry', 'Orange']

### 2. Tuple

In [72]:
l = [1,2,3]  
t = (4,5,6)  
l[0] = 5  
print(l)  
# t[0] = 1  
print(t)

[5, 2, 3]
(4, 5, 6)

In [74]:
f = ["banana","apple","Kiwi","cherry","Orange"]  
print(len(f))

5

In [80]:
t = ("apple",)  
print(t)  
print(type(t))  
f = ("banana") # 튜플로 인식하기 위해서는 "," 필요  
print(f)  
print(type(f))

('apple',)
<class 'tuple'>
banana
<class 'str'>

In [82]:
f = ["banana","apple","Kiwi","cherry","Orange"]  
print(f[:4])  
print(f[2:])

['banana', 'apple', 'Kiwi', 'cherry']
['Kiwi', 'cherry', 'Orange']

In [86]:
f = ["banana","apple","Kiwi","cherry","Orange"]  
if "apple" in f:  
  print("Yes, 'apple' is in")  
else:
  print("NO")

Yes, 'apple' is in

#### list <-> tuple

In [92]:
firm = ['Samsung','LG','SK']  
tdata = tuple(firm)  
print(firm)  
print(tdata)

['Samsung', 'LG', 'SK']
('Samsung', 'LG', 'SK')

In [95]:
# tuple에 추가  
t = ("banana","apple","Kiwi","cherry")  
y = list(t)  
y.append("Orange")  
t = tuple(y)  
print(t)

('banana', 'apple', 'Kiwi', 'cherry', 'Orange')

In [96]:
t = ("apple","banana","cherry")  
q = ("kiwi",)  
t += q  
print(t)

('apple', 'banana', 'cherry', 'kiwi')

In [101]:
t = ('apple', 'banana', 'cherry', 'kiwi')  
l = list(t)  
l.remove("apple")    
t = tuple(l)  
print(t)
del t  
# print(t)

('banana', 'cherry', 'kiwi')

In [102]:
d = {
    'a':1,  
    'b':2,  
    'c':3  
}  
print(d)  
print(d.keys())  
print(d.values())  
print(d.items())

{'a': 1, 'b': 2, 'c': 3}
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

In [107]:
car = {
    "brand" : "BMW",  
    "model" : "GT",  
    "year" : 1988  
}  
print(car)  
print(len(car))  
car["year"] = 2000  
car["item"] = 123456  
car.update({"color" : "red"})
print(car)

{'brand': 'BMW', 'model': 'GT', 'year': 1988}
3
{'brand': 'BMW', 'model': 'GT', 'year': 2000, 'item': 123456, 'color': 'red'}

In [108]:
# 항목 제거
car = {
    "brand" : "BMW",  
    "model" : "GT",  
    "year" : 1988  
}  
car.pop("model")  
print(car)

{'brand': 'BMW', 'year': 1988}

In [109]:
car = {
    "brand" : "BMW",  
    "model" : "GT",  
    "year" : 1988  
}  
car.popitem()  
print(car)

{'brand': 'BMW', 'model': 'GT'}

In [ ]:
car = {
    "brand" : "BMW",  
    "model" : "GT",  
    "year" : 1988  
}  
car.clear() # 비움  
del car # 삭제

#### LOOP

In [110]:
car = {
    "brand" : "BMW",  
    "model" : "GT",  
    "year" : 1988  
}  
# 값을 하나씩 인쇄  
for x in car:  
  print(car[x])

BMW
GT
1988

In [112]:
car = {
    "brand" : "BMW",  
    "model" : "GT",  
    "year" : 1988  
}  
for x in car.keys():  
  print(x)

brand
model
year

In [111]:
car = {
    "brand" : "BMW",  
    "model" : "GT",  
    "year" : 1988  
}  
for x in car.values():  
  print(x)

BMW
GT
1988

In [114]:
car = {
    "brand" : "BMW",  
    "model" : "GT",  
    "year" : 1988  
}  
for x,y in car.items():  
  print(x,y)

brand BMW
model GT
year 1988

In [115]:
car = {
    "brand" : "BMW",  
    "model" : "GT",  
    "year" : 1988  
}  
myCar = car.copy()  
print(myCar)

{'brand': 'BMW', 'model': 'GT', 'year': 1988}

In [117]:
car = {
    "brand" : "BMW",  
    "model" : "GT",  
    "year" : 1988  
}  
myCar = dict(car)  
print(myCar)

{'brand': 'BMW', 'model': 'GT', 'year': 1988}

In [119]:
name1 = {"name":"홍길동","year":2001}  
name2 = {"name":"갑돌이","year":2010}  
name3 = {"name":"갑순이","year":2010}  
family = {  
    "name1" :name1,  
    "name2" :name2,  
    "name3" :name3
}  
print(family)

{'name1': {'name': '홍길동', 'year': 2001}, 'name2': {'name': '갑돌이', 'year': 2010}, 'name3': {'name': '갑순이', 'year': 2010}}