<a href="https://colab.research.google.com/github/hwawoll/pychon/blob/main/py_Bban.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
[]

# **CH1 파이썬 문법**

## 자료형
### 숫자형
정수 : 123, -20, 0  
실수 : 123.45, -4321.5, 6.08e9  
8진수 : 0o456, 0o123  
16진수 : 0xFF, 0x0D, 0x0A

In [31]:
a = 10  
b = 20  
c = a + b  
d = b - a  
print(c)  
print(d)  
print(c, d)

30
10
30 10

In [32]:
a = 52  
b = 10  
# 나눗셈  
c = a/b  
d = a//b # 몫   
e = a%b # 나머지  
# 곱셈  
f = a*b  
g = a**b # 제곱  
print(c,d,e,f,g)

5.2 5 2 520 144555105949057024

#### 문자열
1. 큰 따옴표 : "Hello World! it's"  
2. 작은 따옴표 : '대한민국'  
3. 큰 따옴표 3개 : """Hello!"""
4. 작은 따옴표 3개 : 
'''life is too short, You need python. '''

####변수
* 문자 또는 밑줄로 시작 (beta, _kim)  
* 대 소문자를 구분한다.(sum, Sum, SUM)  
* 영문자, 숫자, 밑줄(a-z, 0-9, _)  
* 파이썬 키워드는 사용 불가

In [ ]:
myName = "Sangho Lee" # 카멜  
my_name = "이상호" # 스네이크  
MyName = "kiki" #파스칼  
_my_name = "korea"  
MYNAME = "God is love"  
my2name = "12345"  
# 2myname = "9876"  
# my-name = "minhle"  
# my name = "kiki"  
myStr = '123'# str  
myNum = 123 # int  
  
print(myStr, myNum)  
print(type(myStr))  
print(type(myNum))

####여러개 변수 할당

In [ ]:
x,y,z = "포도" , "딸기" , "수박"  
print(x)  
print(y)  
print(z)

In [ ]:
a = b = c = "오렌지"  
print(a)  
print(b)  
print(c)

In [ ]:
fruits = ["포도" , "딸기" , "수박"]  
x,y,z = fruits  
print(x)  
print(y)  
print(z)

In [ ]:
x = "Life"  
y = "is"  
z = "Beautiful"  
print(x,y,z)
print(x+y+z) # 문자 배열시 띄어쓰기

In [ ]:
a = 1  
b = 2  
c = 3  
print(a,b,c)  
print(a+b+c)

#### 데이터 유형
+ 텍스트  
+ 숫자  
+ 불(bool)

In [29]:
a = 100  
b = 200  
sum = a + b  
Sum = b - a  
SUM = a*b  
sum2 = b/a  
print(sum)  
print(Sum)  
print(SUM)  
print(sum2)  
print(a, '+', b, '=', sum)
print(b, '-', a, '=', Sum)  
print(a,'*',b, '=', SUM)  
print(b,'/',a, '=', sum2)

300
100
20000
2.0
100 + 200 = 300
200 - 100 = 100
100 * 200 = 20000
200 / 100 = 2.0

#### input() 함수 이용한 계산기기

In [33]:
a = int(input("첫번째 숫자를 입력하세요: "))  
b = int(input("두번째 숫자를 입력하세요: "))  
result = a + b  
print(a, "+", b, "=", result)  
print(a, "-", b, "=", result)  
print(a, "*", b, "=", result)  
print(a, "/", b, "=", result)

첫번째 숫자를 입력하세요: 10
두번째 숫자를 입력하세요: 2
10 + 2 = 12
10 - 2 = 12
10 * 2 = 12
10 / 2 = 12

In [35]:
# 제곱, 몫, 나머지 계산
a = int(input("첫번째 숫자를 입력하세요: "))  
b = int(input("두번째 숫자를 입력하세요: "))  
result = a**b  
Result = a//b  
RESULT = a%b  
print(a, "**", b, "=", result)  
print(a, "//", b, "=", Result)  
print(a, "%", b, "=", RESULT)

첫번째 숫자를 입력하세요: 100
두번째 숫자를 입력하세요: 4
100 ** 4 = 100000000
100 // 4 = 25
100 % 4 = 0

In [37]:
num1 = input("숫자입력1: ")  
num2 = input("숫자입력2: ")  
result = num1 + num2  
print(type(num1))  
print(num1, "+", num2, "=", result)

숫자입력1: 100
숫자입력2: 200
<class 'str'>
100 + 200 = 100200

전화번호, 이름, 무게를 입력 받아서 출력하기  
입력한 내용은 이름 "ㅁㅁ", 전화번호 "00" 입니다.  
무게는 입력한 g수 x 10원 = 산출  
금액 출력

In [ ]:
a = int(input("전화번호를 입력하세요: "))  
b = int(input("이름을 입력하세요: "))  
c = int(input("무게를를 입력하세요: "))  
result1 = a  
reslut2 = b  
result3 = c
print(result1, "+", result2, "+", result3, "=", result3*10)